.bundle
db/*.sqlite3
log/*.log
tmp/
public/uploads/
keywords/
config/database.yml
.DS_Store
**.swp
.gem
tags
project
db/*.sqlite3
.gems
rdoc/
coverage
*debug*.png
*debug*.html
backup/
mongodump
dump/
.idea/
