<div class="input-group input-group-lg">
  <span class="input-group-addon is-valid glyphicon glyphicon-off"></span>
  <input type="text" id="grab-me" class="form-control" placeholder="Feed me...">
</div>
<button disabled class="btn btn-success btn-lg save">Save</button>
