<div class="input-group input-group-lg">
  <span class="input-group-addon is-valid glyphicon glyphicon-{{sign}}"></span>
  <input type="text" id="grab-me" class="form-control" placeholder="Put in link..." can-value="inputVal">
</div>
<button {{disabled}} class="btn btn-lg btn-success save">Save</button>
