<div id="grabber">
</div>

<div id="link-list">
</div>

<div id="sc" class="logo-wrapper">
  <img src="images/soundcloud_logo.jpg" width="160" height="160" class="logo" />
</div>
<div id="yt" class="logo-wrapper">
  <img src="images/yt_logo.png" width="160" height="160"class="logo" />
</div>

