@import "bootstrap";
@import "http://fonts.googleapis.com/css?family=Open+Sans:600,400,300";

$borderColor: #e5e5e5;

.grey {
  background-color: #eee;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans'
}

hr {
  border-color: #ccc;
}

#main {
  min-height: 100%;
  padding-bottom: 25px;
  position: relative;
}

// Footer
#footer {
  position: absolute;
  bottom: 10px;
  font-size: 75%;
  text-align: center;
  height: 15px;
  width: 100%;
}

div#main-inner {
  margin: 0 auto;
  margin-top: 120px;
  width: 420px;
  background-color: #eee;
  padding: 10px 20px 20px 20px;
  border-radius: 4px;
  border: 1px solid $borderColor;
}

/* NOTE: Input looks weird in my chrome, this is a hotfix */
#grab-me {
  margin-top: 1px;
  margin-bottom: -1px;
}

.input-group {
  width: 100%;
}

#link-list {
  margin-top: 30px;
  li {
    cursor: pointer;
  }

  .loading-wrapper {
    width: 32px;
    margin: 0 auto;
    display: none;
  }

  .iframe-wrapper {
    width: 320px;
    margin: 0 auto;
    display: none;
  }
}

#grabber {
  button.save {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }

  span.is-valid {
    border-bottom-left-radius: 0;
  }

  input.form-control {
    border-bottom-right-radius: 0;
  }
}

